.searchField {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-padding: 5;
    -fx-background-color: #f0f0f0;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
}

.background {
    -fx-background-color: #696969;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-padding: 5;
}

.midground {
    -fx-background-color: #a9a9a9;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-padding: 5;
}

.bordered {
    -fx-background-color: #FFFFFF;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-padding: 5;
}

.list-cell:hover {
    -fx-background-color: lightgray;
    -fx-cursor: hand;
}

.button {
    -fx-cursor: hand;
}

.choice-box {
    -fx-cursor: hand;
}

